<div class="center-container">

    <div class="login-title">
        <h1>Social App</h1>
        <h2>Mas que una Red, una sociedad</h2>
    </div>

    <mat-card>
        <mat-card-content>
            <h1>Social App</h1>
            <form class="style-form" (ngSubmit)="login()">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="email" name="email" placeholder="pepitoperes@gmail.com">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [(ngModel)]="password" name="password" placeholder="**********">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Login</button>
            </form>
            <p>¿No tienes cuenta? registrate <a href="/register">aqui</a></p>
        </mat-card-content>
    </mat-card>
</div>