<div class="center-container">

    <div class="login-title">
        <h1>Social App</h1>
        <h2>Mas que una Red, una sociedad</h2>
    </div>

    <mat-card>
        <mat-card-content>
            <h1>Social App</h1>
            <mat-form-field class="example-full-width">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="pepitoperes@gmail.com">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="**********">
            </mat-form-field>
            <p>¿No tienes cuenta? registrate <a href="/registro">aqui</a></p>
        </mat-card-content>
    </mat-card>
</div>