<mat-card>
    <mat-card-content>
        <!-- Aqui va una foto -->
        <button mat-raised-button>¿Quieres decir algo nuevo?</button>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <!-- Aqui va una foto -->
        <button mat-raised-button>¿Quieres decir algo nuevo?</button>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <!-- Aqui va una foto -->
        <button mat-raised-button>¿Quieres decir algo nuevo?</button>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <!-- Aqui va una foto -->
        <button mat-raised-button>¿Quieres decir algo nuevo?</button>
    </mat-card-content>
</mat-card>
