<mat-toolbar>
    <span>My Application</span>

    <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="search" matInput placeholder="Pepito">
    </mat-form-field>
</mat-toolbar>

<div>
    
    

    <div>


        <mat-card>
            <mat-card-content>
                <!-- Aqui va una foto -->
                <button mat-raised-button>¿Quieres decir algo nuevo?</button>
            </mat-card-content>
        </mat-card>

    </div>

    <app-wall></app-wall>


</div>