mat-toolbar {
    background-color: black;
    display: flex;
    justify-content: space-between;

    span {
        color: white;
    }

    button {
        color: white;
    }
}

.style-menu {
    display: flex;
    flex-direction: column;
    margin: 6%;
}

.style-button {
    display: flex;
    align-items: center;
    margin: 3% 0;
    justify-content: space-evenly;
}

mat-form-field {
    padding-top: 1.2%;
}

.style-publication {
    display: flex;
    flex-direction: column;
    margin: 3%;

    mat-card {
        margin: 1%;
    }
}

mat-card-content {
    h1 {
        color: green;
    }

    h2 {
        text-align: center;
    }
}

.style-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.style-only {
    margin-left: 20%;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
}