<mat-card>
    <mat-card-content>
        <h1>Registro</h1>

        <div class="inputs-form">
            <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Pepito">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Age</mat-label>
                <input type="number" matInput placeholder="20">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="pepitoperez@gmail.com">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="********">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary">Save</button>

    </mat-card-content>
</mat-card>


