<mat-card>
    <mat-card-content>
        <h1>Registro</h1>
        <div class="inputs-form">
            <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input [(ngModel)]="fullname" matInput placeholder="Pepito">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input [(ngModel)]="age" type="number" matInput placeholder="20">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input [(ngModel)]="email" type="email" matInput placeholder="pepitoperez@gmail.com">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input [(ngModel)]="password" type="password" matInput placeholder="********">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="register()">Save</button>
        </div>
    </mat-card-content>
    <p> ¿Ya tienes cuenta? ingresa <a href="/login">aqui</a></p>
</mat-card>